.wrapper {
  display: none;
  border: none;
  padding: 0;
}

.visible {
  display: block;
}

.switchWrapper {
  display: flex;
  justify-content: center;
  background-color: var(--clr-magnolia);
  padding: 15px;
  border-radius: 8px;
}
